body {
  background-color: 647D87;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: FAEF9B;
  font-size: xx-large;
  align-items: center;
  padding: 1em;
  display: flex;
}

img {
  height: 26rem;
  width: 26rem;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: 647D87;
}

.activePage {
  pointer-events: none;
  padding: 3px;
  border: solid black 1px;
}

.navSection {
  display: flex;
  margin: auto;
  align-items: center;
  gap: 1em;
}

div {
  display: block;
}

main {
  display: flex;
  min-height: 100vh;
  padding: 10em;
  flex-direction: column;
}

h2 {
  align-items: center;

}

.flexCol {
  /* arrange children in vertical column (hopefully) */
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.sectionBackground {
  background-color: F6D776;
  margin: 2rem auto;
  padding: 1rem;
}

.bigLetters {
  font-size:x-large;
}

.biggerLetters {
  font-size: xx-large;
}

.projectDiv {
  align-items: center;
}

.pageHeader {
  color: azure;
  font-size: x-large;
}

#homeContent {
  background-color: F6D776;
  padding: 1rem;
  height: 0%;
}

/* transition background color to brown */
.transitionToWhite:hover {
  background-color: saddlebrown;
  transition: background-color 1s ease-in-out;
}

/* compatibility with smaller screens */
@media (max-width:1800px) {
  .smallScreenCol {
    flex-direction: column !important;
  }
  .smallScreenOrder {
    order: 0 !important;
  }
}